<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="layoutstyle.css" />
        
        <!-- https://freefrontend.com/css-arrows/ -->
    </head>

    <body>
        <div class="contentwrap">
            <div class="nav">
                <div class="navcenter">
                <p><i class="left"></i></p>
                </div>
            </div>
            <div class="content">
                <div class="contHead"></div>
                <div class="contbody">
                    <div class="contcenter">
                        <div class="contscreen">A</div>
                    </div>
                </div>
                <div class="contfooter"></div>
            </div>
            <div class="nav">
                <div class="navcenter">
                    <p><i class="right"></i></p>
                </div>
            </div>
        </div>
        
    </body>
</html>
